/*
   Do not decorate list items in the post listings
*/

/* .MathJax_Display { 
   color: #404040
 } */

.MathJax { 
  color: #404040
}

.big {
    background: #202020;
    color: white;
    font-style: normal; 
    font-family:'Source Sans Pro', sans-serif;
    font-weight:300; 
    font-size: 1.4em;
}


ul.post-list {
    list-style-type: none; 
    padding: 0; 
    margin-left: 0; 
}

code { 
   color: #292929;
}

a {
    color: #292929;
}

a:hover {
    text-decoration: none;
}

.post-item {
    max-width: 5.5in;
    #margin: 20px 20px 50px 20px;
    margin: 20px auto 50px auto;
    border-bottom: thin dashed #C2C2D6;
}

.post-content h1 {
    font-style: normal; 
    font-family:'Source Sans Pro', sans-serif;
    font-weight:300; 
    font-size: 1.5em;
}

.post-content h2 {
    font-style: normal; 
    font-family:'Source Sans Pro', sans-serif;
    font-weight:300; 
    font-size: 1.25em;
}

.post-content h3 {
    font-style: normal; 
    font-family:'Source Sans Pro', sans-serif;
    font-weight:300; 
    font-size: 1.1em;
}

.post-content {
    font-style: normal; 
    font-family:'Source Sans Pro', sans-serif;
    font-weight:300; 
    text-align: justify;
}

.comment-span {
    margin-bottom: 20px;
}

.about {
    width: 5.5in;
    margin: 20px auto 50px auto;
}

.post-date {
    font-style: italic;
    font-size: 0.75em;
}

.post-meta {
    font-style: italic;
    #font-size: 0.75em;
}

.post-tags {
    float: right;
    font-style: italic;
    font-size: 0.75em;
}

.flattr {
    float: right;
    font-style: italic;
    font-size: 0.75em;
}


#disqus_thread {
    #margin-left: 1in;
    margin: 20px auto 50px auto;
    max-width: 5.5in;
}

#menu {
    position: fixed;
    right: 0;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

#menu li {
    padding-right: 0.5em;
    font-size: 0.75em; 
}

#archive-link {
    float: right;
    width: 2in;
    position: fixed;
    right: 0;
    bottom: 0;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.75em; 
}

#archive-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right
}

#tag-cloud {
    max-width: 5.5in;
    #margin: 20px 20px 50px 20px;
    margin: 20px auto 50px auto;
    border-bottom: thin dashed #C2C2D6;
}

#posts {
    max-width: 5.5in;
    #margin: 20px 20px 50px 20px;
    margin: 20px auto 50px auto;
    border-bottom: thin dashed #C2C2D6;
}


.post-item-title > a {
    font-style: normal; 
    font-family:'Source Sans Pro', sans-serif;
    font-weight:300; 
    color: #292929;
}

.post-item-title > a:hover {
    font-style: normal; 
    font-family:'Source Sans Pro', sans-serif;
    font-weight:300; 
    text-decoration: none;
}

.post-title {
    font-style: normal; 
    font-family:'Source Sans Pro', sans-serif;
    font-weight:300; 
    color: #292929;
}

.post-body {
    font-style: normal; 
    font-family:'Source Sans Pro', sans-serif;
    font-weight:300; 
    color: black;
    text-align: justify;
}

.post-date, .post-tags, .post-tags > a {
    color: #aaaaaa;
    text-decoration: none;
}
