<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>$title$</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/hk-tango.css">
    <link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"> 
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,200italic,300italic,400italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <script type="text/javascript">
    /* <![CDATA[ */
    (function() {
	var s = document.createElement('script');
	var t = document.getElementsByTagName('script')[0];
	s.type = 'text/javascript';
	s.async = true;
	s.src = '//api.flattr.com/js/0.6/load.js?mode=auto';
	t.parentNode.insertBefore(s, t);
     })();
    /* ]]> */
    </script>
  </head>
  <body>
    <div id="menu">
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="https://github.com/wavewave">Github</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/rss.xml">RSS</a></li>
      </ul>
    </div>

    $body$
  </body>
</html>
